body{
    overflow: hidden;
	font-family: MplusRounded1c-Regular;
	color: white;
	text-shadow: 1px 1px 1px #111, -1px -1px 1px #111, -1px 1px 1px #111, 1px -1px 0 #111, 0px 1px 0 #111, 0 -1px 0 #111, -1px 0 0 #111, 1px 0 0 #111, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
}

p {
	margin: 0;
}
#chara,#bg,#wrapper{
	position: absolute;
    /* aspect-ratio: 3 / 4; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#bg{
	background-image: url(../images/20250530-035838.png);
	background-size: contain;
}
#out {
	zoom: 2;
	width: 1080px;
	height: 1440px;
}

#wrapper{
	z-index: 3;
	display: grid;
	/* place-content: center; */
    align-content: space-around;
}
#header{
	text-align: center;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr 1fr;
}
#header>#cpj{
	font-size: larger;
}
#header>#name{
	font-size: x-large;
	font-family: MplusRounded1c-Bold;
}
#header>#names{
	font-size: small;
}
#main{
	padding-left: 20px;
}
#main>p{
	margin: 15px 0;
}
#footer{
	/* width: 540px;
	height: 100px; */
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 3rem;
	box-sizing: border-box;
	background-color: transparent;
	z-index: 0;
}
#footer>#cpe{
	font-size: x-large;
	position: relative;
	margin-bottom: 0.2rem;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	text-shadow: 1px 1px 0 #fff;
}
#footer>#cpe::before {
	text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
	font-family: NotoColorEmoji-Regular;
	position: absolute;
	left: 50%;
	top: -25px;
	transform: translateX(-50%);
	font-size: 80px;
	text-transform: uppercase;
	z-index: -1;
}
#chara{
	z-index: 2;
	filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.8));
	/* background-position: bottom right; */
	background-repeat: no-repeat;
	background-size: 360px;
	background-position: bottom 0 right -70px;
}