@font-face {
	font-family: 'MplusRounded1c-Bold';
	src: url("../fonts/MPLUSRounded1c-Bold.ttf");
}
@font-face {
	font-family: 'MplusRounded1c-Medium';
	src: url("../fonts/MPLUSRounded1c-Medium.ttf");
}
@font-face {
	font-family: 'MplusRounded1c-Regular';
	src: url("../fonts/MPLUSRounded1c-Regular.ttf");
}
@font-face {
	font-family: 'PoiretOne';
	src: url("../fonts/PoiretOne-Regular.ttf");
}
@font-face {
	font-family: 'PrincessSofia';
	src: url("../fonts/PrincessSofia-Regular.ttf");
}
@font-face {
	font-family: '851tegakiKakutto';
	src: url("../fonts/851tegakiKakutto.ttf");
}
@font-face {
	font-family: 'Twemoji';
	src: url("../fonts/Twemoji_14.ttf");
}
@font-face {
	font-family: 'NotoColorEmoji-Regular';
	src: url("../fonts/NotoColorEmoji-Regular.ttf");
}