@font-face {
	font-family: 'MplusRounded1c-Bold';
	src: url("/dotlaboratory/assets/fonts/MPLUSRounded1c-Bold.ttf");
}
@font-face {
	font-family: 'MplusRounded1c-Medium';
	src: url("/dotlaboratory/assets/fonts/MPLUSRounded1c-Medium.ttf");
}
@font-face {
	font-family: 'MplusRounded1c-Regular';
	src: url("/dotlaboratory/assets/fonts/MPLUSRounded1c-Regular.ttf");
}
@font-face {
	font-family: 'PoiretOne';
	src: url("/dotlaboratory/assets/fonts/PoiretOne-Regular.ttf");
}
@font-face {
	font-family: 'PrincessSofia';
	src: url("/dotlaboratory/assets/fonts/PrincessSofia-Regular.ttf");
}
@font-face {
	font-family: 'tegakiKakutto';
	src: url("/dotlaboratory/assets/fonts/851tegakiKakutto.ttf");
}
@font-face {
	font-family: 'tegakiKakutto';
	src: url("/dotlaboratory/assets/fonts/851tegakiKakutto.ttf");
}
@font-face {
	font-family: 'Mamelon';
	src: url("/dotlaboratory/assets/fonts/Mamelon.otf");
}
@font-face {
	font-family: 'NotoColorEmoji-Regular';
	src: url("/dotlaboratory/assets/fonts/NotoColorEmoji-Regular.ttf");
}

