body{
    background-color: #F0ECE1;
    margin: 0;
    display: grid;
    user-select: none;
}
#contents{
    display: grid;
    /* height: 100vh; */
    align-content: center;
    justify-content: center;
}
#header {
    position: relative;
    text-align: center;
    margin: 2rem 0;
    zoom: var(--WzoomScale);
}
#header img{
    width: 200px;
    max-width: 100%;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
#header h1{
    font-size: 3em;
    margin: 0;
}
#main {
    display: block;
    zoom: var(--WzoomScale);
    
}
a{
    transition: transform .2s;
    &:active{
        transform: scale(.95);
    }
}
.f-iframe {
    zoom: var(--WzoomScale);
}
.fancybox__slide{
    padding: 0 !important;
}

.teamIcon img{
    width: 30px;
}
.section{
    display: none;
}
#loading{
    display: grid;
    align-content: center;
    justify-content: center;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #F0ECE1;
    text-align: center;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#loading img{
    /* zoom: var(--WzoomScale); */
    width: 200px;
    max-width: 100%;
    justify-self: center;
}

.fadeout { 
    animation: fadeOut 1.8s;
    animation-fill-mode: both;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        /* display: block; */
    }
    100% {
        opacity: 0;
        display: none;
    }
}


@media (min-width: 600px) {
    .f-iframe{
        width: 1080px !important;
        zoom: 0.4;
    }
    .f-html{
        justify-content: center;
        display: grid;
    }
    #header,#main{
        zoom: 0.4;
    }
}