body{
    overflow: hidden;
	/* font-family: MplusRounded1c-Regular; */
}
p {
	margin: 0;
}
.profile,.charaImg{
	position: absolute;
	max-width: 100%;
	width: 540px;
    height: 720px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.profile{
	z-index: 3;
	display: grid;
    align-content: space-around;
	background-color: #00000099;
}
.profile-header{
	font-family: MplusRounded1c-Regular;
	color: white;
	text-shadow: 1px 1px 1px #111, -1px -1px 1px #111, -1px 1px 1px #111, 1px -1px 0 #111, 0px 1px 0 #111, 0 -1px 0 #111, -1px 0 0 #111, 1px 0 0 #111, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
	text-align: center;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr 1fr;
}
.profile-header>.cpj{
	font-size: 1.4rem;
}
.profile-header>.name{
	font-size: 1.8rem;
	font-family: MplusRounded1c-Bold;
}
.profile-header>.names{
	font-size: small;
}
.profile-main{
	/* padding-left: 20px; */
	font-family: MplusRounded1c-Regular;
	color: white;
	text-shadow: 1px 1px 1px #111, -1px -1px 1px #111, -1px 1px 1px #111, 1px -1px 0 #111, 0px 1px 0 #111, 0 -1px 0 #111, -1px 0 0 #111, 1px 0 0 #111, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
}
.profile-main>p{
	margin: 15px 0;
}
.profile-footer{
	/* width: 540px;
	height: 100px; */
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 3rem;
	box-sizing: border-box;
	background-color: transparent;
	z-index: 0;
}
.profile-footer svg>.cpe{
	position: relative;
	margin-bottom: 0.2rem;
	/* font-weight: bold; */
	font-size: 3rem;
	text-align: center;
	text-shadow: 1px 1px 1px #111, -1px -1px 1px #111, -1px 1px 1px #111, 1px -1px 0 #111, 0px 1px 0 #111, 0 -1px 0 #111, -1px 0 0 #111, 1px 0 0 #111, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
}
.profile-footer>.emoji {
	text-shadow: 1px 1px 1px #111, -1px -1px 1px #111, -1px 1px 1px #111, 1px -1px 0 #111, 0px 1px 0 #111, 0 -1px 0 #111, -1px 0 0 #111, 1px 0 0 #111, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
	font-family: NotoColorEmoji-Regular;
	position: absolute;
	left: 50%;
	top: -35px;
	transform: translateX(-50%);
	font-size: 5rem;
	text-transform: uppercase;
	z-index: -1;
}
.team1{
	font-family: PoiretOne;
}