body{
    font-family: MplusRounded1c-Regular;
}
.chara{
    position: relative;
    width: 1080px;
    height: 1440px;
    zoom: 0.5;
}
.chara>img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}