html{
    user-select: none;
}
body{
    background: #f0ece1;
    text-align: center;
    margin: 0;
    overflow: hidden;
}
a {
	-webkit-tap-highlight-color: transparent; /* 強調をなくす */
}
#container{
    text-align: center;
}

#logo{
    margin: 0;
    margin-top: 1vh;
    font-size: 1.5vh;
}
#logo img{
    width: 5vh;
}
.fancybox__content{
    padding: 0 !important;
    color: beige !important;
}
.section {
    align-self: center;
    display: none;
}
.section.active{
    display: block !important;
}
.section-header{
    display: grid;
    grid-template-columns: 10% 70% 10%;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
}
.section-header-nav img{
    width: 1.3rem;
    height: 1.3rem;
}
.carousel{
    --f-carousel-spacing: 10px !important;
}
.carousel:first-child{
    margin-left: 5px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nav-chara{
    width:8% !important;
    filter: brightness(0.4);
}
.is-nav-selected {
    filter: brightness(1);
}
.symbol{
    font-family: NotoColorEmoji-Regular;
}
.thumbnail,.sign{
    width: 100%;
}