html{
    font-size: 16px;
}
body{
    text-align: center;
    margin: 0;
    overflow: hidden;
}
#container{
    text-align: center;
    display: grid;
    row-gap: 3rem;
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    margin-top: 0;
}
h3{
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
}
.fancybox__content{
    padding: 0 !important;
    color: beige !important;
}
.carousel{
    --f-carousel-spacing: 10px !important;
}
.carousel:first-child{
    margin-left: 5px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-chara{
    width:10% !important
}
.thumbnail,.sign{
    width: 100%;
}