.wrapper{
    /* zoom: 0.5; */
    /* background-color: #ccc; */
    width: 1080px !important;
    height: 1440px !important;
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-content: center;
    position: relative;
}

.wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    z-index: -1;
}
.back{
    z-index: 0;
    width: 1080px;
    height: 1440px;
    filter: blur(2px);
    position: absolute;
}

.charas{
    display: grid;
    width: 1020px;
    height: 1020px;
    margin: 0 auto;
    align-self: center;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
}
.single{
    position: relative;
    filter: drop-shadow(0 0 0.75rem #000);
}
.single img.sign{
    width: 170px;
    object-fit: contain;
    position: absolute;
    bottom:0;
    right:0;
    filter: drop-shadow(0 0 0.75rem #000) drop-shadow(0 0 1.05rem #000);
    
}
.single img.chara{
    position: absolute;
}
.team{
    position: relative;
    align-items: center;
    display: grid;
    justify-items: center;
}
.team img{
    filter: drop-shadow(0 0 0.75rem #000);
    height: 350px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* tm1 */
.wrapper#tm1 .back{
    background-image: url(dotlaboratory/assets/images/team-back_1.png);
}
#tm1 .single{
    width: 330px;
    height:330px;
}
#tm1 .single .chara{
    width: 330px;
    height:330px;
    object-fit: cover;
}
/* tm2 */
.wrapper#tm2 .back{
    background-image: url(dotlaboratory/assets/images/team-back_2.png);
}
#tm2 .single{
    width: 330px;
    height:500px;
}
#tm2 .single .chara{
    width: 330px;
    height:500px;
    object-fit: cover;
}
/* tm3 */
#tm3 .single{
    height: 1020px;
    width: 510px;
}
#tm3 .single .chara{
width: 510px;
    height: 1020px;
    object-fit: cover;
}
.wrapper#tm3 .back{
    background-image: url(dotlaboratory/assets/images/team-back_3.png);
}

#tm3 .single img.sign{
    width: 300px;
}

#tm4 .charas{
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
}
#tm4 .row1 .single .chara{
        width: 510px;
    height: 510px;
    object-fit: cover;
}
.wrapper#tm4 .back{
        background-image: url(dotlaboratory/assets/images/team-back_4.png);
}
.row1{
        display: grid;
    grid-template-columns: 1fr 1fr;
}
.row1 .single{
        width: 510px;
    height: 510px;
}
.row2{
    justify-items: center;
        display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.row2 .single{
    width: 330px;
    height: 510px;
}
.row2 .single .chara{
        width: 330px;
    height: 510px;
    object-fit: cover;
}